<h1>{{title}}</h1>
<form 
  action="/admin/create-product" 
  method="post" 
  enctype="multipart/form-data">
  <div class="form-group">
    <label for="name">Product Name</label>
    <input type="text" class="form-control" name="name" id="name" {{#if values}} value={{values.name}} {{/if}} required>
  </div>
  <div class="form-group">
    <label for="price">Product Price</label>
    <input type="number" class="form-control" name="price" id="price" {{#if values}} value={{values.price}} {{/if}} required>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" name="description" id="description" rows="3" required> {{#if values}} {{values.description}} {{/if}}</textarea>
  </div>
  <div class="form-group">
    <label for="images">Images</label>
    <input type="file" class="form-control-file" name="images" id="images" aria-describedby="fileHelpId" multiple required>
    <small id="fileHelpId" class="form-text text-muted">Max: 5 images | Max Size: 4MB</small>
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>