<h1>{{title}}</h1>
<div class="row">
  <form action="/transfer/create" method="post" class="col-md-4">
    <input type="hidden" name="_csrf" value={{csrfToken}}>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" name="email" id="email" {{#if values}} value={{values.email}} {{/if}}>
    </div>
    <div class="form-group">
      <label for="amount">Amount</label>
      <input type="amount" class="form-control" name="amount" id="amount" {{#if values}} value={{values.amount}} {{/if}}>
    </div>
    <button class="btn btn-primary">Transfer</button>
  </form>
</div>
